/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .main-logo {
   font-family: fantasy;
   font-size: 75px;
   font: bold;
   color: #FDDB61;
 }

 .main-content {
    width: 800px;
    min-height: 100vh;
    margin: auto;
    padding: 30px;
    border: solid grey;
    border-width: 0 5px;
    background-color: #343030;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .main-content .main-logo {
    font-size: 75px;
    margin-bottom: 30px;
    color: #FDDB61;
 }

body {
  background-color: #111;
  box-sizing: content-box;
 }

 h1, h2, h3, h4 {
   /* font-family: 'Bungee Inline', cursive; */
 }
 .button {
   /* display: inline block; */
   display: flex;
   padding: 10px;
   border-radius: 5px;
   border: none;
   background-color: skyblue;
   color: #000;
   margin-bottom: 20px;
 }

 h1 {
   color: #39BAAC
 }

 label {
   color: white;
 }

 .form {
    width: 400px;
    display: flex;
    flex-direction: column;
}
 
 p, a, input {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}